body {
  margin: 0;
  font-family: Helvetica, Arial;
  background: #1C0A06;
  color: white;
}

.app {
  display: flex;
}

.sidebar {
  width: 220px;
  background: #8B2C1B;
  height: 100vh;
  padding: 20px;
}

.sidebar button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.sidebar button:hover {
  background: rgba(255,255,255,0.1);
}

.main {
  flex: 1;
  padding: 30px;
}

.card {
  background: #333;
  padding: 20px;
  margin: 10px;
  display: inline-block;
}

input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 300px;
}

button {
  background: #6E1F10;
  color: white;
  padding: 10px;
  border: none;
}

.sectionPage {
  display: none;
}

#dashboard {
  display: block;
}

#qrBox canvas {
  margin-top: 20px;
}
